// These colors are specific to the theme. Do not use in a package!

@almost-white: #eeeeee; //normal text
@lighter-gray: #444444; //highlight
@blue: #0087d7;
@yellow: #ffd700;
@rose: #d75f87;
@green: #5faf00;
@light-green: #b5bd68;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
//@blue: #81a2be;
@purple: #b294bb;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
